div{
    background-color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: blue;
}
hr{
    background-color: black;
    width: 6rem;
    height: 1vh;
}